.container
  %div{class:"eight columns"}
    %h1= @wiki.subject
    %p= @wiki.description
    %small
      = link_to "New Article", new_wiki_article_path(@wiki), class: 'button'
      = link_to "Edit", edit_wiki_path(@wiki), class: 'button'
    = link_to "Delete wiki", @wiki, method: :delete, class: 'button',confirm: 'Are you sure you want to delete this?'
    %br
    %ul
      - @wiki.articles.each do |article|
        %li= link_to (markdown article.title), wiki_article_path(@wiki,article)
        
